<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <h1>Upload two CSV files for join operation</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file1">Input emails_ngp CSV file:</label>
        <input type="file" name="emails_ngp" id="file1" accept=".csv">
        <br>
        <label for="file2">Input activistcodes CSV file:</label>
        <input type="file" name="activistcodes" id="file2" accept=".csv">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>